---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="max-w-xl mx-auto">
    <div
      class="bg-card-bg/80 backdrop-blur-sm border border-border-color p-6 md:p-8 shadow-xl mt-8"
    >
      <h1 class="text-2xl font-bold text-primary-accent mb-4 text-center">
        Contacto
      </h1>
      <p class="text-text-secondary mb-6 text-center">
        Si tienes dudas, comentarios o simplemente quieres saludar, puedes
        contactarme por los siguientes medios:
      </p>
      <div class="space-y-4 text-center">
        Twitter: <a
          href="https://x.com/_kairumi_"
          target="_blank"
          rel="noopener noreferrer"
          class="text-primary-accent hover:text-secondary-accent font-medium transition-colors"
        >
          @_kairumi_
        </a>
        <div class="text-text-secondary">
          Correo: <a
            href="mailto:kairumi.1573@gmail.com"
            class="text-primary-accent hover:text-secondary-accent font-medium transition-colors"
            >kairumi.1573@gmail.com</a
          >
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
