---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="border p-4 h-full">
    <h1 class="text-cyan-300 text-2xl mb-6">Micro-Relatos</h1>
    <ul class="space-y-2">
      <li>
        <a href="/relatos/lambda-3" class="hover:text-cyan-300">Lambda-3</a>
      </li>
    </ul>
  </main>
</BaseLayout>
