---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-3xl font-bold text-cyan-300">Micro-Relatos</h1>
  <ul class="space-y-4">
    <li>
      <a href="/relatos/lambda-3" class="text-lg text-gray-300 hover:text-cyan-300 transition-colors">
        Lambda-3
      </a>
    </li>
  </ul>
</BaseLayout>
