---

---

<div class="">
  <div class="flex justify-between mx-auto max-w-7xl font-bold">
    <div class="text-2xl">
      <a
        href="/"
        class="group border-2 border-transparent hover:border-pink-500 transition duration-300 px-2"
      >
        <span class="group-hover:text-pink-500 transition duration-300">λ</span>
        Cenizas
      </a>
    </div>
  </div>
</div>
