---
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-neutral-900 text-gray-100 font-mono h-full py-5 px-2">
    <main class="bg-neutral-800 mx-auto max-w-7xl p-4 sm:px-6 lg:px-8 h-full">
      <slot />
    </main>
  </body>
</html>
